@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    overflow-x: hidden;
}

/* Grid layout: https://codepen.io/angeladelise/pen/YzXLdyq?editors=1100 */

.containerFoOldal {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1.5fr 0.1fr;
    grid-template-areas:
        "nav nav nav"
        "main main main"
        "footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    font-size: 15px;
    color: #004d40;
    background-color: snow;
    animation: fadeIn linear 2s;
    font-family: 'Roboto', sans-serif;
}

nav {
    grid-area: nav;
    border-bottom: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, salmon, red, blue, green, #004d40);
    user-select: none;
    font-family: 'Pattaya', sans-serif;
}

main {
    background: snow;
    grid-area: main;
    overflow-y: scroll;
    padding: 5px 10% 0px 10%;
}

footer {
    grid-area: footer;
    box-shadow: 0.4px 0.4px 0.4px 0.4px;
    font-family: 'Pattaya', sans-serif;
}

a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 0.5rem;
}

/* Grid layout: https://codepen.io/angeladelise/pen/YzXLdyq?editors=1100 */

@media only screen and (max-width: 550px) {
    .containerFoOldal {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 1.5fr 0.1fr;
        grid-template-areas:
            "nav"
            "main"
            "footer";
    }
}

a.nav-link {
    transition: all .2s ease-in-out;
}

a.nav-link:hover {
    transform: scale(1.4);
}

a.navbar-brand {
    font-size: 29px;
    margin-right: 40px;
}

#fooldal {
    height: 0%;
}

#menu {
    height: 0%;
    visibility: hidden;
}

#szallitas {
    height: 0%;
    visibility: hidden;
}

#kosar {
    height: 0%;
    visibility: hidden;
}

.bevText {
    font-size: 200%;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    font-weight: 100;
}

#bold {
    font-weight: bold;
}

.card {
    margin-top: 15px;
    margin-bottom: 25px;
    margin: 15px auto 25px auto;
    float: none;
}

#badge {
    background-color: #004d40;
    border-radius: 50%;
    color: white;
    display: inline-block;
    font-size: 9px;
    line-height: 1;
    padding: 5px 7px;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}

.icon {
    height: 30px;
    width: 30px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}