/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
/* Fonts End */

body {
    background-color: salmon;    
}

/*  Navbar   */
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
    user-select: none; 
    font-family: 'Pattaya', sans-serif;
    font-size: 24px; 
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}
/* Navbar End  */

/* Banner */

/* Banner End */